@import "tailwindcss";

@theme {
  --font-sans: 'Poppins', sans-serif;
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #f6f6f6;
  --foreground: #000000;
  --red: #B4262A;
  --border-color: #1e1e1e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif;
}

hr, .border {
  border-color: var(--border-color);
}
